.container
  .page-header
    = link_to new_board_path, :class => 'btn btn-primary' do
      %i.fab.fa-trello
      Create Board
    

  .boards-container
    - @boards.each do |board|
      =link_to board do 
        .board-tile
          .container
            %h4 
              =board.title
            .br
            =link_to edit_board_path(board) do
              %i.fas.fa-pencil-alt
            =link_to board, :data => { confirm: 'Are you sure?' }, :method => :delete do
              %i.far.fa-trash-alt
