.board-page
  .board-name
    =link_to edit_board_path(@board) do 
      .board-title
        %h3
          =@board.title
  .lists{:style=> 'min-height:90vh; display: flex;'}    
    = render @board.lists.order(position: :asc)
    = render 'lists/new', board: @board 



   