= form_for([Card.new]) do |form|
  =form.hidden_field :board_id, :value => @board.id
  =form.hidden_field :list_id, :value => @list.id
  = @list.cards.count == 0 ? '+ Add a card' : '+ Add another card'
  %br/
  = form.text_area :title, size: '36x5'
  %br/
  = form.submit